In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [11]:
Chicago = pd.read_csv("Weather Data\Chicago-F.csv")
NewYork = pd.read_csv(r"Weather Data\NewYork-F.csv")
Houston = pd.read_csv("Weather Data\Houston-F.csv")   
SanFrancisco = pd.read_csv("Weather Data\SanFrancisco-F.csv")

In [24]:
Chicago

,Unnamed: 0,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,AvgHigh_F,32.00,36.00,46.00,59.00,70.00,81.00,84.00,82.00,75.00,63.00,48.00,36.00
1,AvgLow_F,18.00,21.00,30.00,41.00,52.00,63.00,68.00,66.00,57.00,46.00,34.00,23.00
2,AvgPrecip_inch,2.05,1.93,2.72,3.62,4.13,4.06,4.02,3.98,3.31,3.23,3.43,2.56
3,DaysWithPrecip,10.00,8.00,11.00,11.00,11.00,10.00,9.00,9.00,8.00,10.00,11.00,11.00
4,HoursOfSunshine,135.00,136.00,187.00,215.00,281.00,311.00,318.00,283.00,226.00,193.00,113.00,106.00

In [25]:
NewYork

,Unnamed: 0,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,AvgHigh_F,39.0,42.00,50.00,60.00,71.00,79.0,85.00,83.00,76.00,65.00,54.00,44.00
1,AvgLow_F,26.0,29.00,35.00,44.00,55.00,64.0,70.00,69.00,61.00,50.00,41.00,32.00
2,AvgPrecip_inch,3.9,2.95,4.06,3.94,4.45,3.5,4.53,4.13,3.98,3.39,3.82,3.58
3,DaysWithPrecip,11.0,10.00,12.00,11.00,11.00,10.0,11.00,10.00,8.00,8.00,9.00,10.00
4,HoursOfSunshine,154.0,171.00,213.00,237.00,268.00,289.0,302.00,271.00,235.00,213.00,169.00,155.00

In [26]:
Houston

,Unnamed: 0,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,AvgHigh_F,63.00,66.00,73.00,80.00,86.00,91.00,94.00,94.00,90.00,82.00,73.00,64.00
1,AvgLow_F,43.00,47.00,53.00,59.00,68.00,74.00,75.00,75.00,70.00,61.00,52.00,45.00
2,AvgPrecip_inch,3.35,3.19,3.39,3.31,5.08,5.91,3.78,3.74,4.09,5.67,4.33,3.74
3,DaysWithPrecip,9.00,9.00,8.00,6.00,8.00,10.00,9.00,8.00,8.00,7.00,8.00,9.00
4,HoursOfSunshine,142.00,155.00,192.00,210.00,248.00,282.00,294.00,269.00,237.00,229.00,168.00,148.00

In [72]:
type(SanFrancisco)

pandas.core.frame.DataFrame

In [105]:
# convert dataframe into matrix 
Chicago,NewYork,Houston,SanFrancisco = Chicago.to_numpy,NewYork.to_numpy,Houston.to_numpy,SanFrancisco.to_numpy

In [111]:
Weather_data = [Chicago,NewYork,Houston,SanFrancisco]

In [113]:
Weather_data[0]

<bound method DataFrame.to_numpy of         Unnamed: 0     Jan     Feb     Mar     Apr     May     Jun     Jul  \
0        AvgHigh_F   32.00   36.00   46.00   59.00   70.00   81.00   84.00
1         AvgLow_F   18.00   21.00   30.00   41.00   52.00   63.00   68.00
2   AvgPrecip_inch    2.05    1.93    2.72    3.62    4.13    4.06    4.02
3   DaysWithPrecip   10.00    8.00   11.00   11.00   11.00   10.00    9.00
4  HoursOfSunshine  135.00  136.00  187.00  215.00  281.00  311.00  318.00

      Aug     Sep     Oct     Nov     Dec
0   82.00   75.00   63.00   48.00   36.00
1   66.00   57.00   46.00   34.00   23.00
2    3.98    3.31    3.23    3.43    2.56
3    9.00    8.00   10.00   11.00   11.00
4  283.00  226.00  193.00  113.00  106.00  >